.mae{
    display:flex;
    flex-direction:row;
}

.lado-esquerdo{
position: absolute;
width: 356px;
height: 1176px;
left: 0px;
top: 0px;

background: #2B3031;
}


.cabecalho{

}


.logo{}



.nome{}


.barra{}


.especificacoes{}


.opcao{}


.setinha{}


.al{}


.barra-rosa{}




.click{}









.lado-direito{}




.cabecalho2{
    position: absolute;
    width: 1004px;
    height: 57px;
    left: 394px;
    top: 17px;
}